{{ block "index" .}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gelato, gelato</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/index.css">

    </head>
    <body class="flex justify-center flex-col m-10 align-middle py-1 gap-10 bg-slate-100">
        {{ template "contact-form" .Form }}
        <hr/> 
        {{ template "display" .Data }}

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr.status === 422) {
                            console.log("setting status to paint");
                        // allow 422 responses to swap as we are using this as a signal that
                        // a form was submitted with bad data and want to rerender with the
                        // errors
                        //
                        // set isError to false to avoid error logging in console
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            });
        </script>
    </body>
</html>
{{ end }}